:root {
    --dark-blue: #13223D;
    --white: #FFFFFF;
    --orange: #ED7A30;
    --blue: #343AEE;
    --green: #057E18;
    --light-gray: #ECECEC;
    --dark-gray: #989898;

    --max-width: 900px;
}


/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: var(--max-width);
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

header, footer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: var(--max-width);
    width: 100%;
    background-color: var(--white);
    height: 8rem;

}

button, input[type=submit] {
    background: none;
    border: none;
}

button:hover, input[type=submit]:hover {
    cursor: pointer;
    opacity: 0.6;
}

/* Footer styles */
footer { 
    border-top: 0.1rem solid var(--light-gray);
    padding: 0.5rem 1rem 3rem;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    align-items: flex-start
}

footer button {
    color: var(--dark-gray);
    font-size: 0.9rem;
}


/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
}

header h1 {
    color: var(--dark-blueblue);
    margin-bottom: 1rem;
    font-weight: 700;
}

header form {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    width: 90%;
}

header form input[type=submit] {
    background-color: var(--orange);
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 0.3rem;
    color: var(--white)
}

header form input[type=text] {
    font-size: 1.2rem;
    padding: 0 0.5rem;
    width: 100%;

}

/* List styles */
ul {
    max-height: calc(100vh - 8rem);
    overflow: scroll;
    padding-top: 8.5rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    font-weight: 500;
    padding-bottom: 2rem;

}

ul input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    accent-color: var(--green);
}

ul li {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    position: relative;

}

ul li:hover {
    color: var(--blue);
    cursor: pointer;
}


.checked {
    color: var(--dark-gray);
    text-decoration: line-through;
}

.remove-button {
    position: absolute;
    right: 0;
    font-size: 0.7rem;
    color: var(--dark-gray);
}


